# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/js/*
web/css/*

# Composer
composer.phar

# bin links created by composer dependances
bin/phpcs
bin/phpunit