# Bootstrap
app/bootstrap*
src/MilleEtangs/RandonneesBundle/Resources/public/components/*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/js/*
web/css/*

# Configuration files
app/config/parameters.yml

# Composer
composer.phar

# bin links created by composer dependances
bin/phpcs
bin/phpunit
bin/doctrine-dbal
bin/sql-formatter
bin/security-checker

# Temp files
*.php~

# NPM
bower_components/*
