{% extends 'MilleEtangsRandonneesBundle::layout.html.twig' %}

{% block title %}Randonnées VTT | {{ parent()}}{% endblock %}

{% block body %}
	<h2>Randonnées VTT</h2>

	<ul>
	{% for itineary in itinearies %}
		<li><a href="{{ path('itineary', {'slug': itineary.getSlug()}) }}">{{ itineary.getName() }}</a></li>
	{% else %}
		<li>Il n'y a pas de randonnées actuellement !</li>
	{% endfor %}
	</ul>
{% endblock %}
