parameters:
    mongodb_server: mongodb://localhost:27017

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            fr
    secret:            f40c4406cef81fedb959ce1494db4dd13247f20e
