{% extends 'MilleEtangsRandonneesBundle::layout.html.twig' %}

{% block title %}Actualités | {{ parent()}}{% endblock %}

{% block body %}
    <h2>Actualités</h2>
    {% for actu in actualites %}
        {% include "MilleEtangsRandonneesBundle:Actualite:view.html.twig" with {"actu":actu} only %}
    {% endfor %}    
{% endblock %}