{% extends 'MilleEtangsRandonneesBundle::layout.html.twig' %}

{% block title %}Conseils | {{ parent()}}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-left">Conseils</h1>
    
    <h3>Préparez votre sortie</h3>
    <p>Ne partez jamais seul et informez d'autres personnes de votre itinéraire.</p>
    <p>Emportez suffisament d'eau et de quoi vous ravitailler.</p>
    <p>Pour les sorties en vélo ou en VTT, vérifiez bien votre matériel avant de partir : kit de réparation, rustines et pompe pour les crevaisons... Et n'oubliez pas de porter votre casque !</p> 
    <p>Vérifiez les périodes et les évènements (battues) de chasse qui peuvent avoir lieu dans la zone où vous comptez randonner. La chasse est actuellement ouverte.</p>   
    
    <h3 class="text-left">Pendant la randonnée</h3>
    <p>Préservez la nature : n'allumez pas de feu et collectez tous vos déchets. Si vous remarquez un dépôt sauvage, n'hésitez pas à faire une déclaration auprès d'Eco-veille : <a href="http://www.ffrandonnee.fr/les-itineraires-et-l-environnement/eco-veille/ecoveille-anomalies.aspx" target="_blank">http://www.ffrandonnee.fr/les-itineraires-et-l-environnement/eco-veille/ecoveille-anomalies.aspx</a></p>    
    <p>Respectez les propriétés privées</p> 
    <p>Pensez à boire régulièrement, même si vous ne resentez pas la sensation de soif.</p>
    <p>Si vous avez un chien, tenez le en laisse.</p>
</div>
{% endblock %}
