{% extends 'MilleEtangsRandonneesBundle::layout.html.twig' %}

{% block title %}Conseils | {{ parent()}}{% endblock %}

{% block body %}
<h1>Conseils</h1>

<h3>Respectez la nature</h3>

<h3>Vérifiez les périodes de chasses</h3>

<h3>Planifiez votre itinéraire</h3>

{% endblock %}
