{% extends 'MilleEtangsRandonneesBundle::layout.html.twig' %}

{% block title %}Conseils | {{ parent()}}{% endblock %}

{% block body %}
<h1>Conseils</h1>

<h3>Respectez la nature et les propriétés privées</h3>
<p></p>

<h3>Vérifiez les périodes de chasses</h3>
<p></p>

<h3>Planifiez votre itinéraire</h3>
<p>Ne partez jamais seul et informez d'autres personnes de votre itinéraire.</p>

<h3>

{% endblock %}
