{% extends 'MilleEtangsRandonneesBundle::layout.html.twig' %}

{% block precontent %}
    <div id="home-news" class="hidden-xs">
        <div class="news-text">
            <a href="{{ path('itineary', {'slug':'le-tour-de-la-mer'}) }}"><h3>Circuit de la Mer</h3></a>
            <p>Découvrez les Mille Etangs en parcourant le plateau en passant par les villages de La Mer et de Beulotte Saint Laurent.</p>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <h2>Dernières actualités</h2>
        {% for article in articles %}
            <div class="col-md-4 col-sm-12">
            {% include "MilleEtangsRandonneesBundle:Articles:view.html.twig" with {"article":article} only %}
            </div>
        {% endfor %}
    </div>

    <div class="col-md-12 text-center top15">
        <a href="{{ path("articles") }}" class="green">Voir toutes les actualités</a>
    </div>
{% endblock %}
