{% extends 'MilleEtangsRandonneesBundle::layout.html.twig' %}

{% block precontent %}
    <div id="home_news">
        <img class="news_background" src="/images/mille_etangs.jpg" />
        <div class="news_text">
        	<div>
                <h3>Circuit de la Mer</h3>
                <p>Découvrez les Mille Etangs en parcourant le plateau en passant par les villages de La Mer et de Beulotte Saint Laurent.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div id="home_text">
        <h2>Actualité</h2>
        {% for article in articles %}
            {% include "MilleEtangsRandonneesBundle:Article:view.html.twig" with {"article":article} only %}
        {% endfor %}
        <br />
        <a href="{{ path("articles") }}">Voir les autres actualités</a>

        <h2>Destination nature</h2>
    </div>
    <div id="home_links">
        <div id="home_mille_etangs">
        </div>
        <div id="home_vtt">
        </di>
        <div id="home_randonnees">
        </div>
    </div>
{% endblock %}