{% extends 'MilleEtangsRandonneesBundle::layout.html.twig' %}

{% block title %}Randonnées VTT | {{ parent()}}{% endblock %}

{% block sidebar_block1 %}
	<div class="sidebar_block">
		<h6>Conseils VTT</h6>
		<div class="sidebar_content">Avant de partir en balade, venez lire nos conseils pour une sortie réussie !</div>
	</div>
{% endblock %}

{% block sidebar_block3 %}
	<div class="sidebar_block">
		<h6>La base VTT</h6>
		<div class="sidebar_content">Content</div>
	</div>
{% endblock %}

{% block body %}
	<h2>Randonnées</h2>

	<ul>
	{% for itineary in itinearies %}
		<li><a href="{{ path('itineary', {'slug': itineary.getSlug()}) }}">{{ itineary.getName() }}</a></li>
	{% else %}
		<li>Il n'y a pas de randonnées actuellement !</li>
	{% endfor %}
	</ul>
{% endblock %}
