{% extends 'MilleEtangsRandonneesBundle::layout.html.twig' %}

{% block title %}Mentions légales | {{ parent()}}{% endblock %}

{% block body %}
<div class="container">
    <h1>Mentions légales</h1>

    <p>Randonnées aux 1000 étangs est un site amateur animé de manière bénévole.</p>

    <p>Webmestre : Mathieu Tuaillon</p>

    <p>Vous pouvez nous contacter pour toutes informations complémentaires à l'adresse <a href="mailto:contact@randos1000etangs.fr">contact@randos1000etangs.fr</a></p>

    <b>Droits réservés</b>
    <p><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />L'ensemble du site (parcours, fichiers, photos, ...) est mis à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Licence Creative Commons Attribution - Pas d’Utilisation Commerciale 4.0 International</a>.</p>

    <b>Cookies</b>
    <p>Lors de vos visites sur ce site, des cookies enregistrent certaines informations qui sont stockées dans la mémoire de votre disque dur. Ces informations nous servent à générer des statistiques d'audience. Ces cookies ne contiennent pas d'information confidentielle vous concernant. Vous pouvez désactiver les cookies dans les paramètres de votre navigateur. Nous vous conseillons cependant de les autoriser, afin de profiter de l’intégralité des fonctionnalités du site.</p>

    <p>Le présent site est hébergé par ovh.net :</p>

    <p>OVH<br />
    RCS Roubaix – Tourcoing 424 761 419 00045<br />
    Code APE 6202A<br />
    N° TVA : FR 22 424 761 419<br />
    Siège social : 2 rue Kellermann - 59100 Roubaix - France</p>
</div>
{% endblock %}
