{% extends 'MilleEtangsRandonneesBundle::layout.html.twig' %}

{% block title %}Randonnées à pied | {{ parent()}}{% endblock %}

{% block body %}
<div class="links_mille_etangs">
    <h2>1000 étangs</h2>
    <ul>
        <li><a href="http://www.les1000etangs.com" rel="nofollow">office de tourisme</a></li>   
        <li><a href="http://www.cc-1000etangs.fr/" rel="nofollow">communauté de communes</a></li>   
    </ul>
</div>
<div class="links_vtt">
    <h2>vtt</h2>
    <ul>
        <li><a href="http://www.randofc.fr" rel="nofollow">Rando FC</a></li>    
        <li><a href="http://www.vetete.com" rel="nofollow">Vetete.com</a></li>
        <li><a href="http://www.ffc.fr/a_VTT/Actualites_vtt/index.asp" rel="nofollow">FFC</a></li>
    </ul>
</div>
<div class="links_marche">
    <h2>randonnées</h2>
    <ul>
        <li><a href="http://http://www.ffrandonnee.fr">FF randonnée</a></li>    
    </ul>
</div>
{% endblock %}