{% extends 'MilleEtangsRandonneesBundle::layout.html.twig' %}

{% block title %}Les Mille Étangs | {{ parent()}}{% endblock %}

{% block body %}
<div class="container">
    <h1>Les Mille Étangs</h1>

    <h2>Les Vosges saônoises</h2>
    <p>Au coeur des Vosges Saônoises, à la frontière entre les départements de la Haute-Saône (Franche Comté) et des Vosges (Lorraine), le plateau des Mille Etangs représente une aire naturelle de plus de 200km². Cette zone s'étend entre la vallée de Faucogney, le Col des Croix, le Ballon de Servance et le village de Mélisey.</p>

    <p>Egalement appelé la Petite Finlande, pour son nombre important de plans d'eau, les Mille Etangs sont un endroit très apprécié des férus de nature, des pêcheurs, des vttistes et des randonneurs ! Le plateau est en effet parsemé d'étangs et de chemins forestiers, et offre un cadre très bucolique. Ces étendues d'eau se sont formées à la disparition des glaciers de cette région, lors de la dernière ère glaciaire.</p>

    <h2>Un cadre naturel préservé</h2>
    <p>S'étendant sur la partie méridionale du Parc naturel régional des Ballons des Vosges, le plateau est un écrin naturel qui vous permettra d'observer la faune locale : hérons cendrés, canard colvert, grand tétra, cerfs... Cet habitat consitué en grande partie de chênaies, de sapinières est également parsemé de clairières, de tourbières et de fougères. D'autres surprises comme des blocs erratiques ou des cascades vous attendent également au détour du chemin !</p>

    <h2>Patrimoine &amp; authenticité</h2>
    <p>La présence de l'homme depuis de nombreux siècles est visible : fermes, croix, calvaires, moulins viendront parsemener vos balades. Les évènements locaux tels que les fêtes de villages, les marchés de pays ou encore les marches organisées vous permettront de découvrir le patrimoine de la région.</p>

    <h2>Gîtes & Auberges</h2>
    <p>De nombreuseux gîtes, auberges, maisons d'hôtes ou encore campings vous permettront de vous restaurer ou de vivre au coeur de la nature !</p>

    <p>Pour en savoir plus, rendez vous sur l'<a href="http://www.ot-faucogney.fr/" target="_blank">Office de Tourisme des Mille Etangs</a></p>
</div>

{% endblock %}
