{% extends 'MilleEtangsRandonneesBundle::layout.html.twig' %}

{% block title %}Randonnées VTT | {{ parent()}}{% endblock %}

{% block body %}
	<h2>Randonnées</h2>

	<ul>
	{% for randonnee in randonnees %}
		<li><a href="{{ path('randonnee', {'slug': randonnee.getSlug()}) }}">{{ randonnee.getNom() }}</a></li>
	{% else %}
		<li>Il n'y a pas de randonnées actuellement !</li>
	{% endfor %}
	</ul>
{% endblock %}
