{% extends 'MilleEtangsRandonneesBundle::layout.html.twig' %}

{% block title %}Actualités | {{ parent()}}{% endblock %}

{% block body %}
    <h2>Actualités</h2>
    {% for article in articles %}
        {% include "MilleEtangsRandonneesBundle:Articles:view.html.twig" with {"article":article} only %}
    {% endfor %}    
{% endblock %}