{% extends 'MilleEtangsRandonneesBundle::layout.html.twig' %}

{% block title %}Actualités | {{ parent()}}{% endblock %}

{% block body %}
    <div class="articles container">
        <h2 class="text-left">Actualités</h2>
        {% for article in articles %}
            {% include "MilleEtangsRandonneesBundle:Articles:view.html.twig" with {"article":article} only %}
        {% endfor %}
    </div>
{% endblock %}
