body {
    background:url('/images/background.jpg') repeat scroll center top #f00;
	font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@font-face
{
    font-family: AnkeSans;
    src: url('/fonts/AnkeSans.ttf');
}

h2 {
    color:#c4cf95;
}

h6 {
    color:#99bc00;
    text-transform: uppercase;
}
 
h1, h2, h3, h4, h5, h6 {
    font-family: AnkeSans;
	line-height: 1.1;
	margin-bottom: .8em;
}

h3 {
    margin-bottom:2px;
}

a {
    outline: 0;
}
a img {
    border: 0px;
    text-decoration: none;
}
a:link, a:visited {
	padding: 0 1px;
	text-decoration: none;
    color:black;
}
a:hover, a:active {
    color:black;
    text-decoration: none;
}

p {margin-bottom: 1.143em;}
* p:last-child {margin-bottom: 0;}
 
::-moz-selection {background: #F6CF74; color: #fff;}
::selection {background: #F6CF74; color: #fff;}

/* Banniere */
#banner {
	margin: 0 auto;
    padding:0;
    height:114px;
}

#banner div#header_title{
    background:url('/images/logo.png') no-repeat center left;
    height: 100%;
    padding:10px 0 0 160px;
    width: 380px;
}
 
#banner div#header_title a {
    font-family: AnkeSans;
    font-size: 2em;
    line-height: 1;
    color: #422615;
    display: block;
    margin: 0.8em 0 .6em .2em;
    text-decoration: none;
    letter-spacing:-1px;
}

#banner div#header_title a:hover, #banner div#header_title a:active {
	background: none;
	text-shadow: none;
}

#banner nav {
    width:60%;
    float:right;
    font-size: 1.143em;
    height: 30px;
    line-height: 20px;
    padding: 0;
    height:100%;
}

#banner nav ul {
    list-style: none outside none;
    margin: 0 auto;
    padding:0;
    height:100%;
}

#banner nav li {
    display: inline;
    float: left;
    margin: 0;
    height:100%;
    padding-top: 60px;
}

#banner nav ul li.active{
    background:url('/images/menu_background.png') top left repeat-x;
}
#banner nav ul li.active a{
    color:#1f1009;
    text-shadow: none !important;
    text-align: center;
}

#banner nav a:hover{
    color:#1f1009;
}

#banner nav a{
    color: #88776d;
    display: block;
    padding: 5px 1.5em;
    text-decoration: none;
    font-size:14px;
    text-transform: uppercase;
}

/* Sidebar */
aside#sidebar{
    display:block;
    margin-top:30px;
}

aside#sidebar div.sidebar_block{
    margin-bottom: 20px;
    border-radius:2px;
}

aside#sidebar div.sidebar_block span.sidebar_title{
    color:#000;
}

aside#sidebar .sidebar_content{
}

aside#sidebar .sidebar_content a{
    text-decoration: none;
    color:black;
}

/* Content */
div#precontent img{
    width:100%;
}

section#content {
    display:block;    
    margin-bottom:20px;
    padding:10px;
}

/* Footer */
footer{
	background-color:#271e19;
	color:#62584f;    
}

footer #footer_logo, footer #footer_menu, footer #footer_social{
    height: 100%;
}

footer #footer_logo{
    background: url('/images/logo_footer.jpg') center left no-repeat;
    padding-left:175px;
    padding-right:50px;
}

footer #footer_mentions, footer #footer_menu{
    padding-top:25px;
}

footer #footer_menu ul {
    list-style: none outside none;
}

footer a, footer a:link, footer :visited {
    color:#62584f;
    text-decoration: none;
}

footer #footer_social span{
    display: block;
    text-transform: uppercase;
    margin-top: 25px;
}

footer #footer_social ul{
    margin: 0;
    padding: 0;
    list-style: none outside none;
}

footer #footer_social ul li{
    display:block;
    float:left;
    width:32px;
    margin:2px;
}

footer #footer_social ul li a{
    display:block;
    width:32px;
    height:32px;
    background:url('/images/social.jpg') 0 0 no-repeat;
}
footer #footer_social a.facebook{
    background-position:-6px -5px;
}
footer #footer_social a.twitter{
    background-position:-6px -40px;
}
footer #footer_social a.googleplus{
    background-position:-43px -5px;
}
footer #footer_social a.rss{
    background-position:-43px -40px;
}

div#home_news {
    position:relative;
}

div#home_news img.news_background{
    border: 2px solid #412613;
}

div#home_news div.news_text{
    position:absolute;
    padding:20px;
    top:2px;
    right:2px;
    width:250px;
    height:100%;
    border-left: 3px solid #fff;
    background-color: #fff;
    opacity: 0.6;
    text-align: justify;
}