@import "../../../../../../vendor/twbs/bootstrap/less/bootstrap.less";

@media (min-width: @screen-sm-min) {
	body {
		header#banner {
			 div#header_title{
			    background:url('/images/logo.png') no-repeat center left;
			    height: 100%;
			    padding:10px 0 0 160px;
			}

			nav ul li a {
				padding: 5px 1.5em;
			}
		}
	}
}
