@import "../../../../../../vendor/twbs/bootstrap/less/bootstrap.less";
@import "main.less";

@media (min-width: @screen-sm-min) {
	body {
		header#banner {
	        height:114px;

	        div#header_title a {
	            font-family: AnkeSans;
	            font-size: 2em;
	            line-height: 1;
	            color: @custom_brown2;
	            display: block;
	            margin: 0.8em 0 .6em .2em;
	            text-decoration: none;
	            font-weight: 500;
	        }

	        div#header_title a:hover, div#header_title a:active {
               background: none;
               text-shadow: none;
	        }

			div#header_title{
			    background:url('/images/logo.png') no-repeat center left;
			    height: 100%;
			    padding:10px 0 0 160px;
			}

			nav {
				height:100%;
			}

			nav ul {
	            list-style: none outside none;
	            margin: 0 auto;
	            padding:0;
	            height:100%;
	        }

	        nav li {
	            display: inline;
	            float: left;
	            margin: 0;
	            height:100%;
	            padding-top: 60px;
	        }

	        nav ul li.current{
	            background:url('/images/menu_background.png') top left repeat-x;
	        }

	        nav ul li.current a{
	            color:#1f1009;
	            text-shadow: none !important;
	            text-align: center;
	        }

	        nav a:hover{
	            color:#1f1009;
	            background: transparent;
	        }

	        nav a{
	            color: @header_green;
	            display: block;
	            padding: 5px 2em;
	            text-decoration: none;
	            font-size:14px;
	            text-transform: uppercase;
	        }
		}
	}
}
