@import "../../public/components/bootstrap/less/bootstrap.less";

@import "main.less";

@media (min-width: @screen-sm-min) {
	body {
		header {
	        height:110px;

	        div#header-title a {
	            font-size: 2em;
	            line-height: 1;
	            color: black;
	            display: block;
	            margin: 0.8em 0 .6em .2em;
	            text-decoration: none;
	            font-weight: 500;
	        }

	        div#header-title a:hover, div#header-title a:active {
               background-color: @custom_green;
	        }

			div#header-title{
			    background:url('/images/logo.png') no-repeat center left;
			    height: 100%;
			    padding:10px 0 0 160px;
			}

			nav {
				height:100%;
			}

			nav ul {
	            list-style: none outside none;
	            margin: 0 auto;
	            padding:0;
	            height:100%;
	        }

	        nav li {
	            display: inline;
	            float: left;
	            margin: 0;
	            height:100%;
	            padding: 30px 0;
	        }

	        nav ul li.current {
	        	background-color: @custom_green;
	        }

	        nav ul li.current a{
	            color:white;
	            text-shadow: none !important;
	            text-align: center;
	        }

	        nav a{
	        	color: @custom_black;
	        	font-weight: 600;
	            display: block;
	            padding: 5px 2em;
	            text-decoration: none;
	            font-size:14px;
	            text-transform: uppercase;
	        }

	        nav li a:hover {
	        	background-color: white !important;	        	
	        }
	        nav li.current a:hover {
	        	background-color: @custom_green !important;
	        }
		}

		div#home-news {
	        height: 417px;
	        padding-top: 125px;
	        background: url(/images/mille_etangs.jpg) no-repeat center;	        

	        div.news-text{
	            margin:auto;
	            padding:20px;
	            background-color: white;
	            opacity: 0.6;
	            width:400px;
	        }
	    }

	    div#precontent img{
	        width:100%;
	    }
	}
}
