@import "../../public/components/bootstrap/less/bootstrap.less";

@custom_green: rgb(49, 152, 123);
@custom_black: rgb(35, 35, 35);
@custom_grey: rgb(248, 248, 248);

body {
	font-family: 'Raleway', sans-serif;

    h1, h2, h3, h4, h5, h6 {
        line-height: 1.1;
        margin-bottom: .8em;
    }

    h2 {
        color:@custom_green;
        text-align: center;
    }

    h3 {
        margin-bottom:2px;
        text-align: center;
    }

    h5, h6 {            
        color:@custom_green;
        text-transform: uppercase;
    }

    h5 {
        .text-center;
        margin:10px 30%;
        padding:10px 0;
        border-bottom: 1px solid @custom_green;
    }

    a {
        outline: 0;
    }

    a img {
        border: 0px;
        text-decoration: none;
    }

    a:link, a:visited {
    	text-decoration: none;
        color:@custom_black;
    }

    a:hover, a:active {
        color:@custom_black;
        text-decoration: none;
    }

    p {margin-bottom: 1.143em;}
    * p:last-child {margin-bottom: 0;}

    .btn {
        .text-center;
        border-radius: 0;
    }

    .top15 {
        margin-top: 15px;
    }

    header > .container {
        padding-left:0;
        padding-right:0;
    }

    section#content {
        display:block;    
        margin-bottom:20px;
        padding: 10px 0;        
    }

    aside#prefooter {
        background-color: @custom_grey;
    }

    footer{
    	background-color: @custom_black;
        color:white;
        padding:25px 0;

        ul {
            list-style: none outside none;
            padding: 5px 0;
        }

        ul li {
            display: inline;
            margin:10px 10px;

            &:first-child {
                margin-left: 0;
            }
        }

        a, a:link, :visited {
            text-decoration: none;
            color:white;
        }
    }

    div.article {
        h3 {
            padding-left:12px;
            padding-top: 12px;
            margin-top: 0px;
        }

        small {
            display:block;
            float:left;
            width:46px;
            font-weight: bold;
            padding:5px 6px;
            text-align: center;
            line-height: 1.1;
            margin-right: 15px;
        }
     
        div.text {
            clear:both;
            margin-top: 20px;
            text-align: justify;
        }

        div.comments {
            margin-top: 20px;
        }
    }

    .bg-green {
        background-color: @custom_green;
        color: white !important;
    }

    .bg-grey {
        background-color: @custom_grey;
        color: white !important;
    }

    .green {
        color: @custom_green;
    }

    .black {
        color: @custom_black;
    }

    .weather iframe {
        display:block;
        height:250px;
        width:220px;
        margin: auto;
    }

    .articles {
        .article {
            margin-bottom: 20px;
        }
    }

    .itinearies {
        .itineary {
            margin: 20px 10%;
            width: 30%;
            padding: 0;
        }

        .itineary-img {
            background: url('/images/default_itineary.jpg') no-repeat center;
            width:360px;
            height:240px;
            margin: auto;

            > a {
                display: block;
                padding-top: 12%;
                height: 100%;

                &:hover .img-legend {
                    opacity: 0.9;
                }
            }

            .img-legend div {
                .text-center;
                margin: 20px 10px;
                color: black;
            }
        }

        h6 {
            .text-center;
            padding-top: 5px;
            height:35px;
            color:black;
            font-size: 18px;
        }
    }

    .itinearies .fa, .itineary .fa {
        .bg-green;
        opacity: 1;
        padding: 10px;
        border-radius: 50%;
        display:inline;

        &.fa-disabled {
            background-color: #d8d8d8;
        }

        &.fa-difficulty-1 {
            background-color: green;
        }

        &.fa-difficulty-2 {
            background-color: orange;
        }

        &.fa-difficulty-3 {
            background-color: red;
        }
    }

    .img-legend {
        width:60%;
        height:70%;
        background-color: white;
        opacity: 0.7;
        margin:auto;
    }

    .itinearies {
        margin-bottom: 80px;

        #filters, #sorts {
            padding: 10px 0;
        }
    }

    .itineary {
        .teaser {
            background-color: @custom_green;
            color:white;
            padding: 30px;
            font-weight: 16px;

            h2 {
                .text-center;
                color:white;
                font-size:25px;
                margin:25px 35%;
                padding-bottom: 15px;
                border-bottom: 1px solid white;
            }

            p{
                padding: 20px 20%;
            }
        }

        #map {
            width:100%;
            height:400px;
            margin-bottom: 30px;
        }

        table {
            width:100%;

            td {
                padding:8px 2px;
                width: 50%;
            }
        }
    }
}
