{% extends "MilleEtangsRandonneesBundle::layout.html.twig" %}

{% block body %}
<form action="{{ path('login_check') }}" method="POST">
	{{ form_widget(form) }}
	{{ form_rest(form) }}
	<input type="submit" value="login" />
</form>
{% endblock %}