{% extends "MilleEtangsRandonneesBundle:Security:layout.html.twig" %}

{% block body %}
<h2>Administation</h2>

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">{{ flashMessage }}</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">{{ flashMessage }}</div>
{% endfor %}

{% endblock %}
